<nav class="navbar navbar-static-top" style="margin-bottom: 0px;margin-top: -10px;">
    <div class="container">
        <div class="navbar-header">
            <fullstack-logo style="width: 120px;margin-left: -30px;margin-bottom: -5px;margin-top: -2px;"></fullstack-logo>
        </div>
        <ul class="nav navbar-nav" style="color: #1F2F82">
<!--             <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}"><h4 style="color: #1F2F82">{{ item.label }}</h4></a>
            </li> -->
            <!-- <li>
                <a ui-sref-active="active" ui-sref="home"><h4 style="color: #1F2F82">Home</h4></a>
            </li> -->
            <li ng-if="user">
                <a ui-sref-active="active" ui-sref="landing"><h4 style="color: #1F2F82">Home</h4></a>
            </li>
            <li ng-if="user">
                <a ui-sref-active="active" ui-sref="createGroup"><h4 style="color: #1F2F82">Create Group</h4></a>
            </li>
            <li ng-if="user">
                <a ui-sref-active="active" ui-sref="groupList"><h4 style="color: #1F2F82">My Groups</h4></a>
            </li>
            <li ng-if="user">
                <a ui-sref-active="active" ui-sref="contactUs"><h4 style="color: #1F2F82">Contact Us</h4></a>
            </li>
        </ul>
        <button ng-show="user && user.isAdmin" ui-sref="admin" class="btn login-button suli"><strong>Admin</strong></button>
        <button ng-show="!user" ui-sref="signup" class="btn login-button suli"><strong>Signup</strong></button>
        <button ng-show="!user" ui-sref="login" class="btn login-button suli" style="margin-right:10px;"><strong>
        Login</strong></button>
        <div ng-show="user" class="welcome" style="margin-top: 20px;">
            <span style="margin-right:35px;color: rgba(0, 0, 0, 0.57);"><strong>Welcome, {{ user.username }}!</strong></span>
            <a id="lgout" ng-click="logout()" style="background-color: #DFE4EC; border-radius: 12px;padding: 6px;color: #656161;text-decoration: none;">Logout</a>
        </div>
    </div>
</nav>