<div style="min-height: 60px;"></div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form id="signup-form" name="signupForm" ng-submit="signupForm.$valid && sendSignup(signup)">
            <alert type="danger" ng-show="error">
                {{ error }}
            </alert>

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" ng-model="signup.username" name="username" class="form-control" id="username" placeholder="Enter username" maxlength="14">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" name="email" ng-model="signup.email" class="form-control" id="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="signup-password">Password</label>
                <input type="password" name="password" ng-model="signup.password" class="form-control" id="signup-password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default shadow1" ng-disabled="signup.username.length < 1">Sign up</button>
        </form>
    </div>
</div>


