<div style="min-height: 60px;"></div>

<div class="row">
	<div class="col-md-4 col-md-offset-4" style="text-align:center;">
		<h1 style="color: #365A90">Group Name:</h1>
		<form name="createGroupName">
		    <div class="form-group">
		        <input type="text" name="gpName" ng-model="groupName" class="form-control" placeholder="enter name" ng-minlength="1">
		    </div>
		    <button ng-disabled="groupName.length < 1" type="submit" id="ctgp" class="btn btn-default shadow1" ng-click="createGroup()">Create Group</button>
		</form>
	</div>
</div>

<!-- <pre>{{ createGroupName | json }}</pre> -->
