<div style="min-height: 60px;"></div>

<div class="row" style="margin-bottom:60px;">
	<div clsss="col-md-12" style="text-align:center;">
		<h1 style="color: #1F2F82;font-size: 50px;">{{ group.name }}</h1>
		<button type="submit" class="btn btn-default btn3 shadow1" ui-sref="singleGroup({ groupId: group._id })" style="background-color: white;color: #1F2F82"><strong>View Group Brackets</strong></button>
	</div>
</div>


<div class="row">
	<div class="col-md-2"></div>

	<div class="col-md-4" style="text-align:center;">
		<h3>Add Members to Group</h3>
		<form name="addUser">
		    <div class="form-group">
		        <input type="text" ng-model="searchedEmail" class="form-control" placeholder="search by email">
		    </div>
		    <button type="submit" class="btn btn-default btn2 shadow1" ng-click="addUserToGroup()" style="background-color: white;color: #1F2F82"><strong>Add Member</strong></button>
		</form>


		<!-- ALERTS -->
	    <div class="row" style="margin-top:20px;" ng-show="userNotFound">
		    <div class='col-md-10 col-md-offset-1' id="alt1" style="text-align:center;">
		    	<h3>User not found !</h3>
		    	<p>Make sure you spelled the email correctly</p>
		    	<p><strong>and</strong> the user has already set up an account</p>
		    </div>
	    </div>
	    <div class="row" style="margin-top:20px;" ng-show="memberAlreadyPresent">
		    <div class='col-md-8 col-md-offset-2' id="alt2" style="text-align:center;">
		    	<h4>Member already in group</h4>
		    </div>
	    </div>
	    <div class="row" style="margin-top:20px;" ng-show="memberAdded">
		    <div class='col-md-6 col-md-offset-3' id="alt3" style="text-align:center;">
		    	<h4>Member added !</h4>
		    </div>
	    </div>



	</div>

	<div class="col-md-4 rnd">
		<h3>Current Members</h3>
		<table class='table table-striped shadow2' ng-show="true" style="color: background-color:rgb(31, 47, 130);color: rgb(31, 47, 130);">
		  <thead style="background-color:rgb(31, 47, 130);color: white;">
		    <tr>
		      <th>Member Name</th>
		      <th>Member Email</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="member in members" ui-sref="#">
		      <td>{{ member.username }}</td>
		      <td>{{ member.email }}</td>
		    </tr>
		  </tbody>
		</table>
	</div>
</div>