<div class="col-md-6 col-md-offset-3">
  <form>

    <fieldset class="form-group">
      <label>100 Backstroke</label>
      <input type="text" class="form-control" ng-model="back100[0]"placeholder="1st qualifier">
      <input type="text" class="form-control" ng-model="back100[1]"placeholder="2nd qualifier">
    </fieldset>

    <fieldset class="form-group">
      <label>200 Backstroke</label>
      <input type="text" class="form-control" ng-model="back200[0]"placeholder="1st qualifier">
      <input type="text" class="form-control" ng-model="back200[1]"placeholder="2nd qualifier">
    </fieldset>

    <fieldset class="form-group">
      <label>100 Breaststroke</label>
      <input type="text" class="form-control" ng-model="breast100[0]"placeholder="1st qualifier">
      <input type="text" class="form-control" ng-model="breast100[1]"placeholder="2nd qualifier">
    </fieldset>
    <fieldset class="form-group">
      <label>200 Breaststroke</label>
      <input type="text" class="form-control" ng-model="breast200[0]"placeholder="1st qualifier">
      <input type="text" class="form-control" ng-model="breast200[1]"placeholder="2nd qualifier">
    </fieldset>
    <fieldset class="form-group">
      <label>100 Butterfly</label>
      <input type="text" class="form-control" ng-model="fly100[0]"placeholder="1st qualifier">
      <input type="text" class="form-control" ng-model="fly100[1]"placeholder="2nd qualifier">
    </fieldset>

    <fieldset class="form-group">
      <label>200 Butterfly</label>
      <input type="text" class="form-control" ng-model="fly200[0]"placeholder="1st qualifier">
      <input type="text" class="form-control" ng-model="fly200[1]"placeholder="2nd qualifier">
    </fieldset>

    <fieldset class="form-group">
      <label>50 Freestyle</label>
      <input type="text" class="form-control" ng-model="fly200[0]"placeholder="1st qualifier">
      <input type="text" class="form-control" ng-model="fly200[1]"placeholder="2nd qualifier">
    </fieldset>1
    <fieldset class="form-group">
      <label>100 Freestyle</label>
      <input type="text" class="form-control" ng-model="free100[0]"placeholder="1st qualifier">
      <input type="text" class="form-control" ng-model="free100[1]"placeholder="2nd qualifier">
      <input type="text" class="form-control" ng-model="free100[2]"placeholder="3rd qualifier">
      <input type="text" class="form-control" ng-model="free100[3]"placeholder="4th qualifier">
      <input type="text" class="form-control" ng-model="free100[4]"placeholder="5th qualifier">
      <input type="text" class="form-control" ng-model="free100[5]"placeholder="6th qualifier">
    </fieldset>

    <fieldset class="form-group">
      <label>200 Freestyle</label>
      <input type="text" class="form-control" ng-model="free200[0]"placeholder="1st qualifier">
      <input type="text" class="form-control" ng-model="free200[1]"placeholder="2nd qualifier">
      <input type="text" class="form-control" ng-model="free200[2]"placeholder="1st qualifier">
      <input type="text" class="form-control" ng-model="free200[3]"placeholder="2nd qualifier">
      <input type="text" class="form-control" ng-model="free200[4]"placeholder="1st qualifier">
      <input type="text" class="form-control" ng-model="free200[5]"placeholder="2nd qualifier">
    </fieldset>

    <fieldset class="form-group">
      <label>400 Freestyle</label>
      <input type="text" class="form-control" ng-model="free400[0]"placeholder="1st qualifier">
      <input type="text" class="form-control" ng-model="free400[1]"placeholder="2nd qualifier">
    </fieldset>
    <fieldset class="form-group">
      <label>1500 Freestyle</label>
      <input type="text" class="form-control" ng-model="free1500[0]"placeholder="1st qualifier">
      <input type="text" class="form-control" ng-model="free1500[1]"placeholder="2nd qualifier">
    </fieldset>
    <fieldset class="form-group">
      <label>200 Individual Medley</label>
      <input type="text" class="form-control" ng-model="im200[0]"placeholder="1st qualifier">
      <input type="text" class="form-control" ng-model="im200[1]"placeholder="2nd qualifier">
    </fieldset1

    <fieldset class="form-group">
      <label>400 Individual Medley</label>
      <input type="text" class="form-control" ng-model="im400[0]"placeholder="1st qualifier">
      <input type="text" class="form-control" ng-model="im400[1]"placeholder="2nd qualifier">
    </fieldset>

  </form>

  <button type="button" class="btn btn-primary" ng-click="submitBracket()">Submit Bracket!</button>

</div>