<div class="col-md-8 col-md-offset-2" style="overflow:scroll;">
  <table class="table">
    <thead>
      <tr>
        <th>Events</th>
        <th ng-repeat="member in group.members">{{ member.username }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">100 Backstroke</th>
        <td>Mark</td>
      </tr>
      <tr>
        <th scope="row">200 Breaststroke</th>
        <td>Jacob</td>
      </tr>
      <tr>
        <th scope="row">50 Freestyle</th>
        <td>Larry</td>
      </tr>
    </tbody>
  </table>
</div>































<!-- <div class="col-md-12" style="text-align:center;margin-bottom:30px;margin-top:-20px;">
  <h1>{{ group.name }}</h1>
</div> -->

<!-- <div class="col-md-10 col-md-offset-1" style="overflow:scroll;"> -->
  <!-- <div class="row"> -->
    <!-- EVENT COLUMN -->
    <!-- <div style="width:200px;">
      <div class="col-md-12">
        <h3>Event</h3>
      </div>
      <div class="col-md-12">
        <h5>100 Backstroke</h5>
      </div>
      <div class="col-md-12">
        <h5>200 Backstroke</h5>
      </div>
      <div class="col-md-12">
        <h5>100 Breaststroke</h5>
      </div>
      <div class="col-md-12">
        <h5>200 Breaststroke</h5>
      </div>
      <div class="col-md-12">
        <h5>100 Butterfly</h5>
      </div>
      <div class="col-md-12">
        <h5>200 Butterfly</h5>
      </div>
      <div class="col-md-12">
        <h5>50 Freestyle</h5>
      </div>
      <div class="col-md-12">
        <h5>100 Freestyle</h5>
      </div>
      <div class="col-md-12">
        <h5>400 Freestyle</h5>
      </div>
      <div class="col-md-12">
        <h5>1500 Freestyle</h5>
      </div>
      <div class="col-md-12">
        <h5>200 Individual Medly</h5>
      </div>
      <div class="col-md-12">
        <h5>400 Individual Medly</h5>
      </div>
    </div>
 -->
    <!-- MEMBER BRACKETS -->
   <!--  <div class="col-md-3" ng-repeat="member in group.members" style="width:200px;">
      <div class="col-md-12">
        <h3>{{ member.username }}</h3>
      </div>
      <div class="col-md-12">
        <h5>100 Backstroke</h5>
      </div>
      <div class="col-md-12">
        <h5>200 Backstroke</h5>
      </div>
      <div class="col-md-12">
        <h5>100 Breaststroke</h5>
      </div>
      <div class="col-md-12">
        <h5>200 Breaststroke</h5>
      </div>
      <div class="col-md-12">
        <h5>100 Butterfly</h5>
      </div>
      <div class="col-md-12">
        <h5>200 Butterfly</h5>
      </div>
      <div class="col-md-12">
        <h5>50 Freestyle</h5>
      </div>
      <div class="col-md-12">
        <h5>100 Freestyle</h5>
      </div>
      <div class="col-md-12">
        <h5>400 Freestyle</h5>
      </div>
      <div class="col-md-12">
        <h5>1500 Freestyle</h5>
      </div>
      <div class="col-md-12">
        <h5>200 Individual Medly</h5>
      </div>
      <div class="col-md-12">
        <h5>400 Individual Medly</h5>
      </div>
    </div> -->

  <!-- </div> -->
<!-- </div> -->


