<div style="min-height: 10px;"></div>

<div class="row">
  <div class="col-md-12" style="text-align:center;margin-bottom:20px;">
  <h1 style="color: rgb(31, 47, 130)" class="title">{{ group.name | uppercase }}</h1>
  </div>
</div>  


<div class="row" style="margin-bottom: 30px;">
  <div class="col-md-6 col-md-offset-3" style="text-align:center;">
    <button type="button" class="btn btn-default shadow1 btn8" ui-sref="createPredictions({ groupId: group._id, userId: currentUser._id })" ng-show="predictionMade && predictions.length"><h5><strong>Edit My Predictions</strong></h5></button>
    <button type="button" class="btn btn-default shadow1" ui-sref="createPredictions({ groupId: group._id, userId: currentUser._id })" ng-show="!predictionMade && predictions.length"><h5><strong>Create Predictions</strong></h5></button>
  </div>
</div>


<div class="row" style="margin-bottom: 20px;">
  <div class="col-md-6 col-md-offset-3" style="text-align:center;">
    <button type="button" class="btn btn-primary btn6" ng-click="showMenBracket()"><strong>Men's Bracket</strong></button>
    <button type="button" class="btn btn-primary btn6" ng-click="showWomenBracket()"><strong>Women's Bracket</strong></button>
  </div>
</div>



<!-- MEN BRACKET -->
<div class="row" ng-show="showMen && predictions.length">
  <div class="col-md-1 col-xs-0"></div>
  <div class="col-md-2 col-xs-2">
    <table class="table table-striped" style="background-color: white;color: rgb(31, 47, 130);border-radius: 12px;">
      <thead style="color: white;background-color: rgb(31, 47, 130);">
        <tr>
          <th class="headcol ctr wless57 th5">EVENT</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="headcol wless57">100 Backstroke</th>
        </tr>
        <tr>
          <th scope="row" class="headcol wless57">200 Backstroke</th>
        </tr>
        <tr>
          <th scope="row" class="headcol wless57">100 Breaststroke</th>
        </tr>
        <tr>
          <th scope="row" class="headcol wless57">200 Breaststroke</th>
        </tr>
        <tr>
          <th scope="row" class="headcol wless57">100 Butterfly</th>
        </tr>
        <tr>
          <th scope="row" class="headcol wless57">200 Butterfly</th>
        </tr>
        <tr>
          <th scope="row" class="headcol wless57">50 Freestyle</th>
        </tr>
        <tr>
          <th scope="row" class="headcol wless137">100 Freestyle</th>
        </tr>
        <tr>
          <th scope="row" class="headcol wless137">200 Freestyle</th>
        </tr>
        <tr>
          <th scope="row" class="headcol wless57">400 Freestyle</th>
        </tr>
        <tr>
          <th scope="row" class="headcol wless57">1500 Freestyle</th>
        </tr>
        <tr>
          <th scope="row" class="headcol wless57">200 Individual Medly</th>
        </tr>
        <tr>
          <th scope="row" class="headcol wless57">400 Individual Medly</th>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="col-md-8 col-xs-10" style="overflow-x:auto;">
    <table class="table table-striped" style="background-color: white;color: rgb(31, 47, 130);">
      <thead style="color: white;background-color: rgb(31, 47, 130);">
        <tr>
          <!-- <th class="headcol">Event</th> -->
          <th ng-repeat="prediction in predictions" class="ctr h57 th5">{{ prediction.owner.username | uppercase }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- <th scope="row" class="headcol h57">100 Backstroke</th> -->
          <td ng-repeat="prediction in predictions" class="h57">
            <span ng-show="prediction.back100[0]"><strong>{{ prediction.back100[0] }}</strong><span class="pr">{{ prediction.back100[2] }}</span></span>
              <br>
            <span ng-show="prediction.back100[1]"><strong>{{ prediction.back100[1] }}</strong><span class="pr">{{ prediction.back100[3] }}</span></span>
          </td>
        </tr>
        <tr>
          <!-- <th scope="row" class="headcol h57">200 Backstroke</th> -->
          <td ng-repeat="prediction in predictions" class="h57">
            <span ng-show="prediction.back200[0]"><strong>{{ prediction.back200[0] }}</strong><span class="pr">{{ prediction.back200[2] }}</span></span>
              <br>
            <span ng-show="prediction.back200[1]"><strong>{{ prediction.back200[1] }}</strong><span class="pr">{{ prediction.back200[3] }}</span></span>
          </td>
        </tr>
        <tr>
          <!-- <th scope="row" class="headcol h57">100 Breaststroke</th> -->
          <td ng-repeat="prediction in predictions" class="h57">
            <span ng-show="prediction.breast100[0]"><strong>{{ prediction.breast100[0] }}</strong><span class="pr">{{ prediction.breast100[2] }}</span></span>
              <br>
            <span ng-show="prediction.breast100[1]"><strong>{{ prediction.breast100[1] }}</strong><span class="pr">{{ prediction.breast100[3] }}</span></span>
          </td>
        </tr>
        <tr>
          <!-- <th scope="row" class="headcol h57">200 Breaststroke</th> -->
          <td ng-repeat="prediction in predictions" class="h57">
            <span ng-show="prediction.breast200[0]"><strong>{{ prediction.breast200[0] }}</strong><span class="pr">{{ prediction.breast200[2] }}</span></span>
              <br>
            <span ng-show="prediction.breast200[1]"><strong>{{ prediction.breast200[1] }}</strong><span class="pr">{{ prediction.breast200[3] }}</span></span>
          </td>
        </tr>
        <tr>
          <!-- <th scope="row" class="headcol h57">100 Butterfly</th> -->
          <td ng-repeat="prediction in predictions" class="h57">
            <span ng-show="prediction.fly100[0]"><strong>{{ prediction.fly100[0] }}</strong><span class="pr">{{ prediction.fly100[2] }}</span></span>
              <br>
            <span ng-show="prediction.fly100[1]"><strong>{{ prediction.fly100[1] }}</strong><span class="pr">{{ prediction.fly100[3] }}</span></span>
          </td>
        </tr>
        <tr>
          <!-- <th scope="row" class="headcol h57">200 Butterfly</th> -->
          <td ng-repeat="prediction in predictions" class="h57">
            <span ng-show="prediction.fly200[0]"><strong>{{ prediction.fly200[0] }}</strong><span class="pr">{{ prediction.fly200[2] }}</span></span>
              <br>
            <span ng-show="prediction.fly200[1]"><strong>{{ prediction.fly200[1] }}</strong><span class="pr">{{ prediction.fly200[3] }}</span></span>
          </td>
        </tr>
        <tr>
          <!-- <th scope="row" class="headcol h57">50 Freestyle</th> -->
          <td ng-repeat="prediction in predictions" class="h57">
            <span ng-show="prediction.free50[0]"><strong>{{ prediction.free50[0] }}</strong><span class="pr">{{ prediction.free50[2] }}</span></span>
              <br>
            <span ng-show="prediction.free50[1]"><strong>{{ prediction.free50[1] }}</strong><span class="pr">{{ prediction.free50[3] }}</span></span>
          </td>
        </tr>
        <tr>
          <!-- <th scope="row" class="headcol h137">100 Freestyle</th> -->
          <td ng-repeat="prediction in predictions" class="h137">
            <span ng-show="prediction.free100[0]"><strong>{{ prediction.free100[0] }}</strong><span class="pr">{{ prediction.free100[6] }}</span></span>
              <br>
            <span ng-show="prediction.free100[1]"><strong>{{ prediction.free100[1] }}</strong><span class="pr">{{ prediction.free100[7] }}</span></span>
              <br>
            <span ng-show="prediction.free100[2]"><strong>{{ prediction.free100[2] }}</strong><span class="pr">{{ prediction.free100[8] }}</span></span>
              <br>
            <span ng-show="prediction.free100[3]"><strong>{{ prediction.free100[3] }}</strong><span class="pr">{{ prediction.free100[9] }}</span></span>
              <br>
            <span ng-show="prediction.free100[4]"><strong>{{ prediction.free100[4] }}</strong><span class="pr">{{ prediction.free100[10] }}</span></span>
              <br>
            <span ng-show="prediction.free100[5]"><strong>{{ prediction.free100[5] }}</strong><span class="pr">{{ prediction.free100[11] }}</span></span>
          </td>
        </tr>
        <tr>
          <!-- <th scope="row" class="headcol h137">200 Freestyle</th> -->
          <td ng-repeat="prediction in predictions" class="h137">
            <span ng-show="prediction.free200[0]"><strong>{{ prediction.free200[0] }}</strong><span class="pr">{{ prediction.free200[6] }}</span></span>
              <br>
            <span ng-show="prediction.free200[1]"><strong>{{ prediction.free200[1] }}</strong><span class="pr">{{ prediction.free200[7] }}</span></span>
              <br>
            <span ng-show="prediction.free200[2]"><strong>{{ prediction.free200[2] }}</strong><span class="pr">{{ prediction.free200[8] }}</span></span>
              <br>
            <span ng-show="prediction.free200[3]"><strong>{{ prediction.free200[3] }}</strong><span class="pr">{{ prediction.free200[9] }}</span></span>
              <br>
            <span ng-show="prediction.free200[4]"><strong>{{ prediction.free200[4] }}</strong><span class="pr">{{ prediction.free200[10] }}</span></span>
              <br>
            <span ng-show="prediction.free200[5]"><strong>{{ prediction.free200[5] }}</strong><span class="pr">{{ prediction.free200[11] }}</span></span>
          </td>
        </tr>
        <tr>
          <!-- <th scope="row" class="headcol h57">400 Freestyle</th> -->
          <td ng-repeat="prediction in predictions" class="h57">
            <span ng-show="prediction.free400[0]"><strong>{{ prediction.free400[0] }}</strong><span class="pr">{{ prediction.free400[2] }}</span></span>
              <br>
            <span ng-show="prediction.free400[1]"><strong>{{ prediction.free400[1] }}</strong><span class="pr">{{ prediction.free400[3] }}</span></span>
          </td>
        </tr>
        <tr>
          <!-- <th scope="row" class="headcol h57">1500 Freestyle</th> -->
          <td ng-repeat="prediction in predictions" class="h57">
            <span ng-show="prediction.free1500[0]"><strong>{{ prediction.free1500[0] }}</strong><span class="pr">{{ prediction.free1500[2] }}</span></span>
              <br>
            <span ng-show="prediction.free1500[1]"><strong>{{ prediction.free1500[1] }}</strong><span class="pr">{{ prediction.free1500[3] }}</span></span>
          </td>
        </tr>
        <tr>
          <!-- <th scope="row" class="headcol h57">200 Individual Medly</th> -->
          <td ng-repeat="prediction in predictions" class="h57">
            <span ng-show="prediction.im200[0]"><strong>{{ prediction.im200[0] }}</strong><span class="pr">{{ prediction.im200[2] }}</span></span>
              <br>
            <span ng-show="prediction.im200[1]"><strong>{{ prediction.im200[1] }}</strong><span class="pr">{{ prediction.im200[3] }}</span></span>
          </td>
        </tr>
        <tr>
          <!-- <th scope="row" class="headcol h57">400 Individual Medly</th> -->
          <td ng-repeat="prediction in predictions" class="h57">
            <span ng-show="prediction.im400[0]"><strong>{{ prediction.im400[0] }}</strong><span class="pr">{{ prediction.im400[2] }}</span></span>
              <br>
            <span ng-show="prediction.im400[1]"><strong>{{ prediction.im400[1] }}</strong><span class="pr">{{ prediction.im400[3] }}</span></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- WOMEN BRACKET -->
<div class="row" ng-show="showWomen && predictions.length">
  <div class="col-md-1 col-xs-0"></div>
  <div class="col-md-2 col-xs-2">
    <table class="table table-striped" style="background-color: white;color: rgb(31, 47, 130);">
      <thead style="color: white;background-color: rgb(31, 47, 130);">
        <tr>
          <th class="headcol ctr wless57 th5">EVENT</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="headcol wless57">100 Backstroke</th>
        </tr>
        <tr>
          <th scope="row" class="headcol wless57">200 Backstroke</th>
        </tr>
        <tr>
          <th scope="row" class="headcol wless57">100 Breaststroke</th>
        </tr>
        <tr>
          <th scope="row" class="headcol wless57">200 Breaststroke</th>
        </tr>
        <tr>
          <th scope="row" class="headcol wless57">100 Butterfly</th>
        </tr>
        <tr>
          <th scope="row" class="headcol wless57">200 Butterfly</th>
        </tr>
        <tr>
          <th scope="row" class="headcol wless57">50 Freestyle</th>
        </tr>
        <tr>
          <th scope="row" class="headcol wless137">100 Freestyle</th>
        </tr>
        <tr>
          <th scope="row" class="headcol wless137">200 Freestyle</th>
        </tr>
        <tr>
          <th scope="row" class="headcol wless57">400 Freestyle</th>
        </tr>
        <tr>
          <th scope="row" class="headcol wless57">800 Freestyle</th>
        </tr>
        <tr>
          <th scope="row" class="headcol wless57">200 Individual Medly</th>
        </tr>
        <tr>
          <th scope="row" class="headcol wless57">400 Individual Medly</th>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="col-md-8 col-xs-10" style="overflow-x:auto;">
    <table class="table table-striped" style="background-color: white;color: rgb(31, 47, 130);">
      <thead style="color: white;background-color: rgb(31, 47, 130);">
        <tr>
          <!-- <th class="headcol">Event</th> -->
          <th ng-repeat="prediction in predictions" class="ctr h57 th5">{{ prediction.owner.username | uppercase }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- <th scope="row" class="headcol h57">100 Backstroke</th> -->
          <td ng-repeat="prediction in predictions" class="h57">
            <span ng-show="prediction.back100[0]"><strong>{{ prediction.back100[0] }}</strong><span class="pr">{{ prediction.back100[2] }}</span></span>
              <br>
            <span ng-show="prediction.back100[1]"><strong>{{ prediction.back100[1] }}</strong><span class="pr">{{ prediction.back100[3] }}</span></span>
          </td>
        </tr>
        <tr>
          <!-- <th scope="row" class="headcol h57">200 Backstroke</th> -->
          <td ng-repeat="prediction in predictions" class="h57">
            <span ng-show="prediction.back200[0]"><strong>{{ prediction.back200[0] }}</strong><span class="pr">{{ prediction.back200[2] }}</span></span>
              <br>
            <span ng-show="prediction.back200[1]"><strong>{{ prediction.back200[1] }}</strong><span class="pr">{{ prediction.back200[3] }}</span></span>
          </td>
        </tr>
        <tr>
          <!-- <th scope="row" class="headcol h57">100 Breaststroke</th> -->
          <td ng-repeat="prediction in predictions" class="h57">
            <span ng-show="prediction.breast100[0]"><strong>{{ prediction.breast100[0] }}</strong><span class="pr">{{ prediction.breast100[2] }}</span></span>
              <br>
            <span ng-show="prediction.breast100[1]"><strong>{{ prediction.breast100[1] }}</strong><span class="pr">{{ prediction.breast100[3] }}</span></span>
          </td>
        </tr>
        <tr>
          <!-- <th scope="row" class="headcol h57">200 Breaststroke</th> -->
          <td ng-repeat="prediction in predictions" class="h57">
            <span ng-show="prediction.breast200[0]"><strong>{{ prediction.breast200[0] }}</strong><span class="pr">{{ prediction.breast200[2] }}</span></span>
              <br>
            <span ng-show="prediction.breast200[1]"><strong>{{ prediction.breast200[1] }}</strong><span class="pr">{{ prediction.breast200[3] }}</span></span>
          </td>
        </tr>
        <tr>
          <!-- <th scope="row" class="headcol h57">100 Butterfly</th> -->
          <td ng-repeat="prediction in predictions" class="h57">
            <span ng-show="prediction.fly100[0]"><strong>{{ prediction.fly100[0] }}</strong><span class="pr">{{ prediction.fly100[2] }}</span></span>
              <br>
            <span ng-show="prediction.fly100[1]"><strong>{{ prediction.fly100[1] }}</strong><span class="pr">{{ prediction.fly100[3] }}</span></span>
          </td>
        </tr>
        <tr>
          <!-- <th scope="row" class="headcol h57">200 Butterfly</th> -->
          <td ng-repeat="prediction in predictions" class="h57">
            <span ng-show="prediction.fly200[0]"><strong>{{ prediction.fly200[0] }}</strong><span class="pr">{{ prediction.fly200[2] }}</span></span>
              <br>
            <span ng-show="prediction.fly200[1]"><strong>{{ prediction.fly200[1] }}</strong><span class="pr">{{ prediction.fly200[3] }}</span></span>
          </td>
        </tr>
        <tr>
          <!-- <th scope="row" class="headcol h57">50 Freestyle</th> -->
          <td ng-repeat="prediction in predictions" class="h57">
            <span ng-show="prediction.free50[0]"><strong>{{ prediction.free50[0] }}</strong><span class="pr">{{ prediction.free50[2] }}</span></span>
              <br>
            <span ng-show="prediction.free50[1]"><strong>{{ prediction.free50[1] }}</strong><span class="pr">{{ prediction.free50[3] }}</span></span>
          </td>
        </tr>
        <tr>
          <!-- <th scope="row" class="headcol h137">100 Freestyle</th> -->
          <td ng-repeat="prediction in predictions" class="h137">
            <span ng-show="prediction.free100[0]"><strong>{{ prediction.free100[0] }}</strong><span class="pr">{{ prediction.free100[6] }}</span></span>
              <br>
            <span ng-show="prediction.free100[1]"><strong>{{ prediction.free100[1] }}</strong><span class="pr">{{ prediction.free100[7] }}</span></span>
              <br>
            <span ng-show="prediction.free100[2]"><strong>{{ prediction.free100[2] }}</strong><span class="pr">{{ prediction.free100[8] }}</span></span>
              <br>
            <span ng-show="prediction.free100[3]"><strong>{{ prediction.free100[3] }}</strong><span class="pr">{{ prediction.free100[9] }}</span></span>
              <br>
            <span ng-show="prediction.free100[4]"><strong>{{ prediction.free100[4] }}</strong><span class="pr">{{ prediction.free100[10] }}</span></span>
              <br>
            <span ng-show="prediction.free100[5]"><strong>{{ prediction.free100[5] }}</strong><span class="pr">{{ prediction.free100[11] }}</span></span>
          </td>
        </tr>
        <tr>
          <!-- <th scope="row" class="headcol h137">200 Freestyle</th> -->
          <td ng-repeat="prediction in predictions" class="h137">
            <span ng-show="prediction.free200[0]"><strong>{{ prediction.free200[0] }}</strong><span class="pr">{{ prediction.free200[6] }}</span></span>
              <br>
            <span ng-show="prediction.free200[1]"><strong>{{ prediction.free200[1] }}</strong><span class="pr">{{ prediction.free200[7] }}</span></span>
              <br>
            <span ng-show="prediction.free200[2]"><strong>{{ prediction.free200[2] }}</strong><span class="pr">{{ prediction.free200[8] }}</span></span>
              <br>
            <span ng-show="prediction.free200[3]"><strong>{{ prediction.free200[3] }}</strong><span class="pr">{{ prediction.free200[9] }}</span></span>
              <br>
            <span ng-show="prediction.free200[4]"><strong>{{ prediction.free200[4] }}</strong><span class="pr">{{ prediction.free200[10] }}</span></span>
              <br>
            <span ng-show="prediction.free200[5]"><strong>{{ prediction.free200[5] }}</strong><span class="pr">{{ prediction.free200[11] }}</span></span>
          </td>
        </tr>
        <tr>
          <!-- <th scope="row" class="headcol h57">400 Freestyle</th> -->
          <td ng-repeat="prediction in predictions" class="h57">
            <span ng-show="prediction.free400[0]"><strong>{{ prediction.free400[0] }}</strong><span class="pr">{{ prediction.free400[2] }}</span></span>
              <br>
            <span ng-show="prediction.free400[1]"><strong>{{ prediction.free400[1] }}</strong><span class="pr">{{ prediction.free400[3] }}</span></span>
          </td>
        </tr>
        <tr>
          <!-- <th scope="row" class="headcol h57">1500 Freestyle</th> -->
          <td ng-repeat="prediction in predictions" class="h57">
            <span ng-show="prediction.free1500[0]"><strong>{{ prediction.free1500[0] }}</strong><span class="pr">{{ prediction.free1500[2] }}</span></span>
              <br>
            <span ng-show="prediction.free1500[1]"><strong>{{ prediction.free1500[1] }}</strong><span class="pr">{{ prediction.free1500[3] }}</span></span>
          </td>
        </tr>
        <tr>
          <!-- <th scope="row" class="headcol h57">200 Individual Medly</th> -->
          <td ng-repeat="prediction in predictions" class="h57">
            <span ng-show="prediction.im200[0]"><strong>{{ prediction.im200[0] }}</strong><span class="pr">{{ prediction.im200[2] }}</span></span>
              <br>
            <span ng-show="prediction.im200[1]"><strong>{{ prediction.im200[1] }}</strong><span class="pr">{{ prediction.im200[3] }}</span></span>
          </td>
        </tr>
        <tr>
          <!-- <th scope="row" class="headcol h57">400 Individual Medly</th> -->
          <td ng-repeat="prediction in predictions" class="h57">
            <span ng-show="prediction.im400[0]"><strong>{{ prediction.im400[0] }}</strong><span class="pr">{{ prediction.im400[2] }}</span></span>
              <br>
            <span ng-show="prediction.im400[1]"><strong>{{ prediction.im400[1] }}</strong><span class="pr">{{ prediction.im400[3] }}</span></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<!-- <div class="row">
  <div class="col-md-6 col-md-offset-3" style="text-align:center;">
    <button type="button" class="btn btn-primary btn7" ui-sref="createPredictions({ groupId: group._id, userId: currentUser._id })" ng-show="predictionMade" style="margin-bottom: 15px;"><h4>Edit My Predictions</h4></button>
    <button type="button" class="btn btn-primary btn7" ui-sref="createPredictions({ groupId: group._id, userId: currentUser._id })" ng-hide="predictionMade" style="margin-bottom: 15px;"><h4>Create Predictions</h4></button>
  </div>
</div> -->

<div class="col-md-6 col-md-offset-3" style="text-align:center;margin-bottom: 90px;">
  <h3 ng-show="!predictions.length && showMen" style="margin-bottom: 30px;margin-top: 70px;"><i>Currently no men's predictions...</i></h3>
  <h3 ng-show="!predictions.length && showWomen" style="margin-bottom: 30px;margin-top: 70px;"><i>Currently no women's predictions...</i></h3>
  <button ng-show="!predictions.length && showMen" type="button" class="btn btn-default shadow1" ui-sref="createPredictions({ groupId: group._id, userId: currentUser._id })" style="margin-bottom: 150px;"><h4><strong>Create Predictions!</strong></h4></button>
  <button ng-show="!predictions.length && showWomen" type="button" class="btn btn-default shadow1" ui-sref="createPredictions({ groupId: group._id, userId: currentUser._id })" style="margin-bottom: 150px;"><h4><strong>Create Predictions!</strong></h4></button>
  <br>
  <button type="button" class="btn btn-primary btn7" ui-sref="editGroup({groupId: group._id})" ng-show="currentUser._id === group.creator"><h3>Add Members To Group</h3></button>
</div>


