<div class="col-md-8 col-md-offset-2">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Event</th>
        <th ng-repeat="prediction in predictions">{{ prediction.owner.username }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">100 Backstroke</th>
        <td ng-repeat="prediction in predictions">1. {{ prediction.back100[0] }} - {{ prediction.back100[3] }}<br>2. {{ prediction.back100[1] }} - {{ prediction.back100[4] }}</td>
      </tr>
      <tr>
        <th scope="column">200 Backstroke</th>
        <td ng-repeat="prediction in predictions">1. {{ prediction.back200[0] }}<br>2. {{ prediction.back200[1] }}</td>
      </tr>
      <tr>
        <th scope="column">100 Breaststroke</th>
        <td ng-repeat="prediction in predictions">{{ prediction.back200[0] }}</td>
      </tr>
      <tr>
        <th scope="column">200 Breaststroke</th>
        <td ng-repeat="prediction in predictions">{{ prediction.back200[0] }}</td>
      </tr>
      <tr>
        <th scope="column">100 Butterfly</th>
        <td ng-repeat="prediction in predictions">{{ prediction.back200[0] }}</td>
      </tr>
      <tr>
        <th scope="column">200 Butterfly</th>
        <td ng-repeat="prediction in predictions">{{ prediction.back200[0] }}</td>
      </tr>
      <tr>
        <th scope="column">50 Freestyle</th>
        <td ng-repeat="prediction in predictions">{{ prediction.back200[0] }}</td>
      </tr>
      <tr>
        <th scope="column">100 Freestyle</th>
        <td ng-repeat="prediction in predictions">{{ prediction.back200[0] }}</td>
      </tr>
      <tr>
        <th scope="column">200 Freestyle</th>
        <td ng-repeat="prediction in predictions">{{ prediction.back200[0] }}</td>
      </tr>
      <tr>
        <th scope="column">400 Freestyle</th>
        <td ng-repeat="prediction in predictions">{{ prediction.back200[0] }}</td>
      </tr>
      <tr>
        <th scope="column">1500 Freestyle</th>
        <td ng-repeat="prediction in predictions">{{ prediction.back200[0] }}</td>
      </tr>
      <tr>
        <th scope="column">200 Individual Medly</th>
        <td ng-repeat="prediction in predictions">{{ prediction.back200[0] }}</td>
      </tr>
      <tr>
        <th scope="column">400 Individual Medly</th>
        <td ng-repeat="prediction in predictions">{{ prediction.back200[0] }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="col-md-6 col-md-offset-3" style="text-align:center;">
  <button type="button" class="btn btn-primary" ng-click="editBracket()">Edit My Predictions</button>
  <button type="button" class="btn btn-primary" ui-sref="createPredictions({ groupId: group._id, userId: currentUser._id })">Create Predictions</button>
</div>


































<!-- <div class="col-md-12" style="text-align:center;margin-bottom:30px;margin-top:-20px;">
  <h1>{{ group.name }}</h1>
</div> -->

<!-- <div class="col-md-10 col-md-offset-1" style="overflow:scroll;"> -->
  <!-- <div class="row"> -->
    <!-- EVENT COLUMN -->
    <!-- <div style="width:200px;">
      <div class="col-md-12">
        <h3>Event</h3>
      </div>
      <div class="col-md-12">
        <h5>100 Backstroke</h5>
      </div>
      <div class="col-md-12">
        <h5>200 Backstroke</h5>
      </div>
      <div class="col-md-12">
        <h5>100 Breaststroke</h5>
      </div>
      <div class="col-md-12">
        <h5>200 Breaststroke</h5>
      </div>
      <div class="col-md-12">
        <h5>100 Butterfly</h5>
      </div>
      <div class="col-md-12">
        <h5>200 Butterfly</h5>
      </div>
      <div class="col-md-12">
        <h5>50 Freestyle</h5>
      </div>
      <div class="col-md-12">
        <h5>100 Freestyle</h5>
      </div>
      <div class="col-md-12">
        <h5>400 Freestyle</h5>
      </div>
      <div class="col-md-12">
        <h5>1500 Freestyle</h5>
      </div>
      <div class="col-md-12">
        <h5>200 Individual Medly</h5>
      </div>
      <div class="col-md-12">
        <h5>400 Individual Medly</h5>
      </div>
    </div>
 -->
    <!-- MEMBER BRACKETS -->
   <!--  <div class="col-md-3" ng-repeat="member in group.members" style="width:200px;">
      <div class="col-md-12">
        <h3>{{ member.username }}</h3>
      </div>
      <div class="col-md-12">
        <h5>100 Backstroke</h5>
      </div>
      <div class="col-md-12">
        <h5>200 Backstroke</h5>
      </div>
      <div class="col-md-12">
        <h5>100 Breaststroke</h5>
      </div>
      <div class="col-md-12">
        <h5>200 Breaststroke</h5>
      </div>
      <div class="col-md-12">
        <h5>100 Butterfly</h5>
      </div>
      <div class="col-md-12">
        <h5>200 Butterfly</h5>
      </div>
      <div class="col-md-12">
        <h5>50 Freestyle</h5>
      </div>
      <div class="col-md-12">
        <h5>100 Freestyle</h5>
      </div>
      <div class="col-md-12">
        <h5>400 Freestyle</h5>
      </div>
      <div class="col-md-12">
        <h5>1500 Freestyle</h5>
      </div>
      <div class="col-md-12">
        <h5>200 Individual Medly</h5>
      </div>
      <div class="col-md-12">
        <h5>400 Individual Medly</h5>
      </div>
    </div> -->

  <!-- </div> -->
<!-- </div> -->


