* {
  box-sizing: border-box;
}

html, body {
	background: #F7F7F7;
}

body {
  overflow-x: hidden;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

td, th {
	
}

.pr {
	float: right;
}

.h57 {
  height: 57px !important;
  min-width: 220px;
}

.h137 {
  height: 137px !important;
  min-width: 230px;
}

.ctr {
  text-align: center;
}

.shadow2, .shadow1 {
  box-shadow: 10px 10px 20px 4px rgba(0,0,0,0.68);
}

::-webkit-scrollbar { 
    display: none; 
}

.mgnBtm {
  margin-bottom: 7px !important;
}

.wless57 {
  text-align: center;
  height: 57px;
}

.wless137 {
  text-align: center;
  height: 137px;
}


 


@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
