* {
  box-sizing: border-box;
}

html, body {

  background: repeating-linear-gradient(
    45deg,
    #E1E5ED,
    #E1E5ED 10px,
    #DFE4EC 10px,
    #DFE4EC 20px
  );
}

body {
  overflow-x: hidden;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

td, th {
	
}

.pr {
	float: right;
}

.h57 {
  height: 57px !important;
  min-width: 240px;
  border-right: 1px solid red;
}

.h137 {
  height: 137px !important;
  min-width: 240px;
  border-right: 1px solid red;
}

.ctr {
  text-align: center;
}

.shadow2, .shadow1 {
  box-shadow: 10px 10px 20px 4px rgba(0,0,0,0.68);
}

::-webkit-scrollbar { 
    display: none; 
}

.mgnBtm {
  margin-bottom: 7px !important;
}

.wless57 {
  text-align: center;
  height: 57px;
}

.wless137 {
  text-align: center;
  height: 137px;
}

#alt1 {
  background-color: #F06262;
  border-radius: 7px;
  margin-bottom: 10px;
  color: white;
}

#alt2 {
  background-color: #4CC363;
  border-radius: 7px;
  margin-bottom: 10px;
  color: white;
}

#alt3 {
  background-color: #4CC363;
  border-radius: 7px;
  margin-bottom: 10px;
  color: white;
}

table {
  border-radius: 7px;
}

.landpan {
  background-color: #3C66AB;
  border-radius: 12px;
  text-align: center;
  height: 230px;
  border: none;
  box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.67);
}

.cgppan {
  background-color: #3C66AB;
  border-radius: 12px;
  text-align: center;
  height: 270px;
  border: none;
  box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.67);
}

.pd1 {
  padding-top: 0px;
}

.pd2 {
  margin-top: 20px;
  padding-top: 0px;
  padding-right: 50px;
  padding-left: 50px;
  box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.67);
}
.pd2:hover {
  margin-top: 20px;
  padding-top: 0px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: #A7A8A9;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}

ul {
  list-style-type: none;
} 

.th1 {
  font-size: 20px;
}

.bf {
  font-weight: bold; 
}

button {
  border: none !important;
}

#ctgp {
  font-size: 20px !important;
  background-color: white;
  color: #365A90;
  font-weight: bold;
}

button:hover {
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}

.title {
  font-size: 45px;
}

.th5 {
  font-size: 18px;
}

.btn6 {
  background-color: rgb(113, 112, 115);
}

.btn7 {
  background-color: rgb(31, 47, 130);
}

.btn7:hover {
  background-color: #C7C9CC;
  color:rgb(31, 47, 130);
}

.btn8:hover {
  background-color: #908C8C;
}

.hbtn {
  background-color: #DFE4EC;
  outline: none;
  color: #EC3737;
  font-size: 30px;
}

.hbtn:hover {
  background-color: #A2ACB3;
  color: white;
  font-size: 30px;
}

.btn11:hover {
  background-color: #EF3131 !important;
}

.wpic {
  background-image: url("/assets/water2.jpeg");
  background-size: 100%;
  height: 600px;
}

.filter1 {
  background: rgba(54, 90, 144, .6);
  background-size: cover;
  height: 100%;
}

#hh {
  font-size: 70px;
}

.stripe-1 {
  color: white;
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
}

#lgout:hover {
  background-color: #EEF1F5 !important;
}

#logo1:hover {
  background-color: #EEF1F5 !important;
}

.suli {
  background-color: #404C8A !important;
  color: white;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.suli:hover {
  background-color: #969EC5 !important;
  color: white;
}

.sm1 {
  font-size: 15px !important;
  color: #404C8A;
  font-weight: bold;
}

.sm2 {
  font-weight: bold;
  font-size: 15px !important;
  color: #404C8A;
  margin-top: -10px;
}

.sm3 {
  font-weight: bold;
  font-size: 19px !important;
  color: #404C8A;
  margin-top: -15px;
}

#logo1 {
    text-align: center;
    background-color: #A7A3A3;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
}

.pointer {
  cursor: pointer;
}

.bg1 {
  font-size: 70px;
}

.bg2 {
  font-size: 40px;
}

@media screen and (max-width: 750px) {
    .mbno {
        display: none;
    }

}

@media screen and (min-width: 750px) {
  .dtno {
    display: none;
  }
}

#logo1:hover {
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0) !important;
}

.dkgr:hover {
  background-color: #CCCACA !important;
}

.btn9:hover {
  color: white;
}

#bg3 {
  font-size: 50px;
}

.rd1 {
  color: #F58787;
}

.hvr2:hover {
  color: red !important;
  cursor: pointer;
}










@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
